DATABASE_URL=mysql+pymysql://root:password@localhost:3306/paper_ai_system?charset=utf8mb4

DIFY_BASE_URL=http://localhost/v1

DIFY_QA_API_KEY=你的论文问答WorkflowKey
DIFY_EXTRACT_API_KEY=你的文献信息抽取WorkflowKey
DIFY_NOTE_API_KEY=你的阅读笔记WorkflowKey

UPLOAD_DIR=uploads

APP_NAME=科研文献智能分析系统
DEBUG=true
